@using Client.ViewModels
@model ChangePasswordViewModel


@{
    ViewBag.Title = "ChangePassword";
}

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
    <div class="login-wrap">
        <div>
            <div>
                <span class="login-title">Change password</span>
            </div>
            @Html.HiddenFor(model => model.UserId)
            <div class="form-group">
                @Html.PasswordFor(model => model.OldPassword, new { placeholder = "Old Password", @class = "editor" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(model => model.NewPassword, new { placeholder = "New Password", @class = "editor" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(model => model.NewPasswordConfirmation, new { placeholder = "Password confirmation", @class = "editor" })
            </div>
        </div>
        <div>
            <input type="submit" class="btn btn-outline-dark pl-5 pr-5 pt-2 pb-2" value="Change" />
        </div>
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(model => model.UserId, null, new { @class = "text-danger" })<br />
            @Html.ValidationMessageFor(model => model.OldPassword, null, new { @class = "text-danger" })<br />
            @Html.ValidationMessageFor(model => model.NewPassword, null, new { @class = "text-danger" })<br />
            @Html.ValidationMessageFor(model => model.NewPasswordConfirmation, null, new { @class = "text-danger" })
        </div>
    </div>
    }

