@using Client.ViewModels
@model PublisherDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h3>@Model.Publisher.Title</h3>
<h3>@Model.Publisher.Desription</h3>
<img height="300" width="300" src="@Model.Publisher.ImagePath" />
<h3>Authors:</h3>
@foreach (var author in Model.Publisher.Authors)
{
    <span>@author.Name;</span>
}
<h3>Topics:</h3>
@foreach (var topic in Model.Publisher.Topics)
{
    <span>@topic.Title;</span>
}
@if (User.Identity.IsAuthenticated)
{
    if (Model.Publisher.Subscriptions.Any(s => s.UserId == Model.UserId))
    {
        <span class="alert alert-primary">Subscribed</span>
    }
    else
    {
        <a class="btn btn-info" href="@Url.Action("New", "Subscription", new { id = Convert.ToInt32(Model.Publisher.Id)})">Subscribe</a>
    }
}

