@using Client.ViewModels
@model PublisherEditViewModel


@{
    ViewBag.Title = "Edit";
}
<script>
    $(document).ready(function (e) {
        $("#imgUpload").change(function () {
            $("#imgName").text(this.files[0].name);
        });
    });
</script>
<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Publisher", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IsRemoved)
    @Html.HiddenFor(model => model.ExistingImagePath)
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="input-group col-5 mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Title</span>
                    </div>
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { placeholder = "Enter title", @class = "form-control" } })
                </div>
                <div class="text-danger mt-1">
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>
            <div class="row">
                <div class="input-group col-7 mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Description</span>
                    </div>
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { placeholder = "Enter description", @class = "form-control" } })
                </div>
                <div class="text-danger mt-1">
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
            <div class="row">
                <div class="input-group col-4 mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Price/month</span>
                    </div>
                    @Html.EditorFor(model => model.MonthlySubscriptionPrice, new { htmlAttributes = new { placeholder = "Enter price", @class = "form-control" } })
                    <div class="input-group-append">
                        <span class="input-group-text">$</span>
                    </div>
                </div>
                <div class="text-danger mt-1">
                    @Html.ValidationMessageFor(model => model.MonthlySubscriptionPrice)
                </div>
            </div>
            <div class="row">
                <div class="input-group col-9 mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Authors</span>
                    </div>
                    @Html.EditorFor(model => model.Authors, new { htmlAttributes = new { placeholder = "Enter authors", @class = "form-control" } })
                    <div class="input-group-append">
                        @Html.DropDownList("ExistingAuthors", Model.ExistingAuthors, new { @class = "custom-select", @id = "ExistingAuthors"})
                    </div>
                </div>
                <div class="text-danger mt-1">
                    @Html.ValidationMessageFor(model => model.Authors)
                </div>
            </div>
            <div class="row">
                <div class="input-group col-9 mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Topics</span>
                    </div>
                    @Html.EditorFor(model => model.Topics, new { htmlAttributes = new { placeholder = "Enter topics", @class = "form-control" } })
                    <div class="input-group-append">
                        @Html.DropDownList("ExistingTopics", Model.ExistingTopics, new { @class = "custom-select", @id = "ExistingTopics" })
                    </div>
                </div>
                <div class="text-danger mt-1">
                    @Html.ValidationMessageFor(model => model.Topics)
                </div>
            </div>
        </div>
        <div class="col-3">
            <img class="col" src="@Model.ExistingImagePath" />
            <div class="row">
                <div class="input-group col mb-1">
                    <div class="custom-file">
                        @Html.TextBoxFor(model => model.Image, new { type = "file", @class = "custom-file-input", id = "imgUpload" })
                        <label id="imgName" class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
                <div class="text-danger mt-1">
                    @Html.ValidationMessageFor(model => model.Image)
                    @Html.ValidationSummary(true)
                </div>
            </div>
        </div>
    </div>
    <input class="btn btn-outline-secondary" type="submit" value="Update" />
}