@using Client.ViewModels
@model PublisherEditViewModel


@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Publisher", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IsRemoved)
    @Html.HiddenFor(model => model.ExistingImagePath)
    <div class="row">
        <div class="col">
            <div class="form-group">
                @Html.LabelFor(model => model.Title)
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description)<br />
                @Html.TextAreaFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MonthlySubscriptionPrice)
                @Html.EditorFor(model => model.MonthlySubscriptionPrice, new { htmlAttributes = new { @class = "input-group-sm" } })
                @Html.ValidationMessageFor(model => model.MonthlySubscriptionPrice, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Authors)
                @Html.ValidationMessageFor(model => model.Authors, "", new { @class = "text-danger" })
                @Html.DropDownList("ExistingAuthors", Model.ExistingAuthors, new { @class = "custom-select" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Topics)
                @Html.ValidationMessageFor(model => model.Topics, "", new { @class = "text-danger" })
                @Html.DropDownList("ExistingTopics", Model.ExistingTopics, new { @class = "custom-select" })
            </div>
        </div>
        <div class="col">
            <img height="300" width="300" src="@Model.ExistingImagePath" />
            <div class="form-group">
                @Html.TextBoxFor(model => model.Image, new { type = "file", @class = "form-control-file" })
            </div>
        </div>
    </div>
    <input type="submit" value="Update" />
}