@using Client.ViewModels
@model CreateUserViewModel

@{
    ViewBag.Title = "CreateUser";
}

<script>
    $(document).ready(function () {
        $("#selectRole").change(function () {
            $("#userRole").val($(":selected", this).val());
        });
    });
</script>

@using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post))
    {
    <div class="login-wrap">
        <div>
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.UserRole, new { @id = "userRole" })
            <div>
                <span class="login-title">Create User</span>
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { placeholder = "Username", @class = "editor" } })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "E-mail", @class = "editor" } })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(model => model.ExistingRoles, Model.ExistingRoles, new { @class = "custom-select", id = "selectRole"})
            </div>
            <div class="form-group">
                @Html.PasswordFor(model => model.Password, new { placeholder = "Password", @class = "editor" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Password confirmation", @class = "editor" })
            </div>
        </div>
        <div>
            <input type="submit" class="btn btn-dark" value="Create" />
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.Username, null, new { @class = "text-danger" })<br />
            @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })<br />
            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })<br />
            @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })<br />
        </div>
    </div>
}