@using Client.ViewModels
@model SubscriptionCreateViewModel

@{
    ViewBag.Title = "New Subscription";
}

<h2>Subscribe - "@Model.Publisher.Title" publisher</h2>

@using (Html.BeginForm("New", "Subscription", FormMethod.Post))
{
    @Html.HiddenFor(model => model.UserId);
    @Html.HiddenFor(model => model.UserBalance);
    @Html.HiddenFor(model => model.Publisher.Id);
    @Html.HiddenFor(model => model.Publisher.Title);
    @Html.HiddenFor(model => model.Publisher.MonthlySubscriptionPrice);

    <span>Your balance: @Html.DisplayTextFor(model => model.UserBalance)</span> 

    @Html.DropDownListFor(model => model.SubscriptionPeriod, new List<SelectListItem>
    {
        new SelectListItem{ Text = $"Month subscription - ${Model.Publisher.MonthlySubscriptionPrice * 1}", Value = "month"},
        new SelectListItem{ Text = $"Three month subscription - ${Model.Publisher.MonthlySubscriptionPrice * 3}", Value = "quarter"},
        new SelectListItem{ Text = $"Half year subscription - ${Model.Publisher.MonthlySubscriptionPrice * 6}", Value = "half"},
        new SelectListItem{ Text = $"Year subscription - ${Model.Publisher.MonthlySubscriptionPrice * 12}", Value = "year"},
    }, new { @class = "custom-select" });

    <input type="submit" class="btn btn-dark editor" value="Subscribe">

    @Html.ValidationSummary(false);
}
